.container{
  text-align: center;
}

.quantity{
  display: flex;
  justify-content: center;
}
.quantity div{
  background-color: burlywood;
   height: 50px;
   width: 100px;
   font-size: xx-large;
}
.quantity div:hover{
  background-color: rgb(171, 132, 132);
}